.blocktion {
    font-family: 'Oswald', sans-serif;
    margin-top: 70px;
}

.block {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.inner_block {
    position: relative;
}
.img_block {
    max-width: 630px;
    margin: 0 15px;
}

.title_block {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.index_block1 {
    color: #000;
    text-decoration: none;
    
    position: absolute;
    top: 37%;
    right: 9%;
    min-width: 260px;
    background: #fff;
    border: 1px solid #000;
    padding: 25px 20px 0;
    border-radius: 15px;
    transition: all .3s;
}

.index_block1:hover {
    color: #005BC1;
    background: #F6FBFF;
    border-color: #2668b9;
}

.text_block1 {
    font-size: 20px;
    line-height: 1.3;
    max-width: 220px;
    letter-spacing: 1.5px;
}

.index_block2 {
    color: #000;
    text-decoration: none;
    
    position: absolute;
    top: 60%;
    left: 10%;
    max-width: 350px;
    background: #fff;
    border: 1px solid #000;
    padding: 30px 20px 0;
    border-radius: 15px;
    transition: all .3s;
}

.index_block2:hover {
    color: #005BC1;
    background: #F6FBFF;
    border-color: #2668b9;
}

.text_block2 {
    font-size: 18px;
    line-height: 1.3;
    max-width: 250px;
    letter-spacing: 1.5px;
}
