.breadcrumbs {
    font-family: 'Oswald', sans-serif;
    background-image: url(../img/ant086_breadcrumbs/back-forum.jpg);
    background-size: cover;
    background-position: left;
}

.breadcrumbs_wrap {
    background: rgba(105, 105, 105, 0.700);
}

.breadcrumbs_wraaper {
    padding: 30px 50px;
    letter-spacing: 1.5px;
}

.breadcrumbs_title {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    padding: 10px 0 10px;
}

.sub_bread {
    padding-top: 10px;
    padding-left: 40px;
    letter-spacing: 1.5px;
}

.put {
    padding: 10px 0;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

.put:hover {
    color: #73DDFE;
}

.put1 {
    font-size: 24px;
    color: #fff;
    padding: 0 8px 0;
}

@media (max-width: 576px) {
    .sub_bread {
        display: none;
    }
    .breadcrumbs_wraaper {
        margin: 20px 0;
        padding: 10px 20px;
    }
    .breadcrumbs_title {
        width: 200px;
        font-size: 20px;
    }
}