.company {
    margin-top: 110px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}

.company_inner {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.detail_img {
	width: 100%;
    min-width: 500px;
	height: 420px;
	
    border-radius: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

@media (max-width: 576px) {
    .company {
        margin-top: 12%;
    }
    .detail_img {
        min-width: 100%;
        width: 100%;
        height: auto;
        border-radius:  0;
    }
    .company_inner {
        width: 100%;
        display: inline-block;
        text-align: justify;
        margin: 10px 0;
    }
}

.company_text {
    margin-left: 40px;
    max-width: 600px;
}

.text {
    font-size: 30px;
    letter-spacing: 1.5px;
    text-indent: 50px;
} 

.team {
    display: flex;
    
}
.team_member {
    display: inline-block;
}

.team_thumb {
    margin: 15px;
}

.team_img {
    max-width: 350px;
    max-height: auto;
    border-radius: 20px;
}

.team_name {
    margin-left: 30px;
    letter-spacing: 1.5px;
}

.name {
    font-size: 30px;
    font-weight: 300;
}

.post {
    font-size: 24px;
    padding-top: 7px;
}

@media (max-width: 576px) {
    .team {
        display: inline-block;
        text-align: center;
    }
    .company_text {
        margin: 0 5%;
    }
    .text {
        font-size: 24px;
    }
    .team_img {
        max-width: 300px;
    }
    .name {
        font-size: 24px;
    }
    .post {
        font-size: 18px;
    }
    .team_member {
        margin: 5%;
    }
    
}
