.contact {
    margin-top: 110px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}

.maps {
    margin: 20px 0 50px;
    text-align: center;
    position: relative;
    border: 1px solid #000;
}

iframe {
    width: 99.9%;
}

.regular {
    top: 75%;
    right: 38%;
    position: absolute;
    margin: 0 auto;
    width: 400px;
    border: 1px solid #000;
    border-radius: 7px;
    background-color: #F5F5F5;
}

.work {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
}

@media (max-width: 576px) {
    .contact {
        margin-top: 12%;
    }
    .regular {
        width: 200px;
        top: 85%;
        right: 26%;
    }
    .work {
        font-size: 16px;
    }
}
    
.messanges {
    font-size: 58px;
    color: #fff;
    margin-top: 15px;
    margin-left: 12%;
    
    display: flex;
    align-items: center;
    align-content: center;
}

.icon_messanges {
    color: #000;
    margin: 0 20px;
    padding: 10px;
}

.icon_messanges:hover {
    transform: translate(0, -7px);
    transition-duration: .3s;
}

#vk:hover {
    color: #597DA3;
}

#inst:hover {
    color: #833AB4;
}

#teleg:hover {
    color: #0088cc;
}

@media (max-width: 576px) {
    .messanges {
        font-size: 38px;
    }
    .icon_messanges {
        margin: 0 10px;
    }
}
