.shop {
    margin-top: 110px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}

.shop_inner {
    display: flex;
    align-items: center;

    margin-top: 20px;
}

.products_img {
    max-width: 450px;
    max-height: 450px;
    border-radius: 15px;
}

.single_shop {
   margin: 10px;
    display: inline-block;
    letter-spacing: 1.5px;
}

@media (max-width: 576px) {
     .shop {
        margin-top: 12%;
    }
    .products_img {
        max-width: 350px;
        width: 100%;
        height: auto;
    }
    .shop_inner {
        display: inline-block;
        text-align: center;
        margin: 0 auto;
    }
}

.names {
    text-decoration: none;
}

/* Эффект при наведении */
.hover-effect-cover {
    margin: 10px;
    position: relative;
    overflow: hidden;
}

/* Кнопка */
.hover-effect-cover a {
    padding: 20px;
    margin: 7px;
    color: #fff;
    background: #000;
    border-radius: 50%;
    transition: all .2s;
}

.hover-effect-cover a:hover {
    background: #fff;
    color: #348EDF;
}/* Кнопка */

.effect-to-top {
    border-radius: 15px;
    font-size: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hover-effect-cover:hover .effect-to-top {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.effect-to-top {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Фон блока при наведении */
    transition-duration: .7s;
    transform: translate(0px, 400px) rotate(0.5turn); /* Направление выезжающей панели */
}

.hover-effect-cover:hover .effect-to-top {
    opacity: 1;
    transition-duration: .7s;
    transform: translate(0px, 0px) rotate(0deg);
}

.names {
    text-decoration: none;
}

.text {
    color: #000;
    font-size: 24px;
    
    letter-spacing: 1.5px;
    line-height: 1.5;
    padding-left: 20px;
}

.name_product:hover {
    color: #2668b9;
}

.name_product {
    font-weight: 300;
}

.price {
    font-weight: 700;
}

@media (max-width: 576px) {
    .text {
        font-size: 18px;
        margin: 0;
    }
}
