/* Footer */
.footer {
	margin-top: 50px;
    background-color: #005BC1;
    position: absolute;
    width: 100%;
    padding-bottom: 35px;
}

.footers_menu {
    text-align: right;
	margin: 0;
    padding: 15px 0 15px 0;
	list-style: none;
}

.adres {
    color: #fff;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    margin-right: 5px;
}

.footer_inner {
	display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1330px;
    
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

@media (max-width: 576px) {
    .footer {
	   margin-top: 30px;
    }
    .adres {
        font-size: 14px;
        margin-right: 10px;
    }
    .footer_inner {
        display: inline-block;
    }
}

.footer_item {
    color: #fff;
    font-size: 15px;
	
    margin: 25px 50px 15px 50px;
} 

.footer_title {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    letter-spacing: 1.5px;
}

.footer_menu {
	padding:  0;
	margin: 20px 0;
	list-style: none;
}

.footer_menu li {
	margin-bottom: 20px;
}

.footer_text {
    color: #fff;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 25px;
}

.footer_text:hover {
    color: #FAFF00; 
}

.messange {
    font-size: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    color: #fff;
}

.information {
    color: #fff;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 25px;
}

.icon_messange {
    color: #fff;
    margin: 0 10px 0 10px;
}

.icon_messange:hover {
    transform: translate(0, -5px);
    transition-duration: .2s;
}

@media (max-width: 576px) {
    .footer_title {
        font-size: 20px;
    }
    .footer_text {
        font-size: 14px;
    }
    .messange {
        font-size: 30px;
    }
    .information {
        font-size: 14px;
    }
}
