.four_steps {
    font-family: 'Oswald', sans-serif;
    margin-top: 100px;
}

.steps {
    margin-left: 15%;
}

.text_steps {
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: 1.5px;
}

.icons_steps {
    color: #fff;
    padding: 23px;
    font-size: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.steps_block {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#steps_1 {
    background: #00C783;
}

#steps_2 {
    margin-left: 60px;
    background: #0EB7F5;
}

#steps_3 {
    margin-left: 130px;
    background: #FF5F5F;
    padding: 23px 25px;
}

#steps_4 {
    margin-top: 10px;
    margin-left: 200px;
    background: #FFA800;
    padding: 23px 20px 23px 21px;
}

.result {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1.5px;
    
    margin-left: 35%;
    padding: 15px 20px;
    max-width: 340px;
    border: 3px solid #6CE422;
    border-radius: 15px;
    
}