/* Header */
.header {
    background-color: rgba(255, 255, 255, 0.7);
   
    width: 100%;
    padding: 20px 0;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
    z-index: 1000;
    color: #ddd;
    border-bottom: 1px solid #ddd;
}

.header_inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#index {
    display: none;
}

@media (max-width: 1024px) {
    .header {
         padding: 15px 0;
    }
    .header_inner {
        margin: 0 auto;
    }
    #index {
        display: block;
    }
}

.header_logo {
    align-items: center;
    display: flex;
}

.img_logo {
    max-height: 70px;
}

.logo {
    color: #000;
    margin-left: 10px;
    
    text-align: center;
    font-size: 37px;
    font-family: 'Suez One', serif;
    text-decoration: none;
}

/* Navigation */
.nav {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.menu {
    display: flex;
    margin: 0;
    padding: 10px;
    list-style: none;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

.nav li a {
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    position: relative;
    display: block;
}

.nav li a:hover {
    color: #2668b9;
    text-decoration: none;
}

.nav > ul li {
    position: relative;
}

.nav > ul > li:hover .sub_menu {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
}

@media (max-width: 1024px) {
    .icons {
        margin: 0 auto;
    }
}
    
/* Menu */
.sub_menu {
    padding: 0;
    opacity: 0;
    position: absolute;
    border-radius: 4px;
    
    transition: all 0.2s ease 0s;
    visibility: hidden;
    max-width: 200px;
    margin: 0 auto;
}

.menu_item {
    width: 100%;
    text-decoration: none;
    margin: 15px 30px;
}

.menu_items {
    text-decoration: none;
    padding: 20px 25px;
    background-color: #fff;
    border: 1px solid #eee;
    text-align: center;
    line-height: 1.5;
}

#menu-toggle {
  opacity: 0;
}

@media (max-width: 1024px) {
    .menu_item {
        font-size: 12px;
    }
    .menu {
        display: inline-block;
        padding-left: 10%;
    }
    .sub_menu {
        display: none;
    }
    .nav {
        position: fixed;
        visibility: hidden;
        top: 0;
        left: 100%;
        width: 200px;
        width: 100%;
        margin-top: 10%;
        
        background-color: #fff;
        transition-duration: .25s;
    }
    /*Кнопка*/
    .menu-btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 20%;
        right: 10%;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu-btn > span::before {
      content: '';
      top: -8px;
    }
    .menu-btn > span::after {
      content: '';
      top: 8px;
    }
    #menu-toggle{
      opacity: 0;
    }

    #menu-toggle:checked ~ .menu-btn > span{
      transform: rotate(45deg);
    }
    #menu-toggle:checked ~ .menu-btn > span::before{
      top: 0;
      transform: rotate(0);
    }
    #menu-toggle:checked ~ .menu-btn > span::after{
      top: 0;
      transform: rotate(90deg);
    }
    #menu-toggle:checked ~ .nav{
      visibility: visible;
      left: 0;
    }
}

/* Button */
.btn3 {
    margin: 0 8%;
    text-align: center;  
    padding: 17px 40px;
    
    border-radius: 38px;
    background-color: #005BC1;
    border:none;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.btn3:hover {
    background-color: #006AE1;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Profil and basket */
.icons {
    font-size: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    color: #348EDF;
}

.basket {
    margin: 0 10px;
    padding: 15px;
    color: #348EDF;
    border: 1px solid #fff;
    border-color: rgba(255, 255, 255, 0.1);
}

.basket:hover {
    padding: 15px;
    border: 1px solid #348EDF;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s;
}


.profil {
    margin: 0 10px;
    color: #348EDF;
    padding: 15px;
    border: 1px solid #fff;
    border-color: rgba(255, 255, 255, 0.1);
}

.profil:hover {
    padding: 15px;
    border: 1px solid #348EDF;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s;
}


@media (max-width: 1024px) {
    .icons {
        font-size: 12px;
    }
    .profil {
        padding: 7px;
        border: 1px solid #348EDF;
        border-radius: 50%;
        margin: 0 5px;
    }
    .basket {
        padding: 7px;
        border: 1px solid #348EDF;
        border-radius: 50%;
        margin: 0 5px;
}
}

@media (max-width: 1024px) {
    .btn3 {
        display: none;
    }
    .menu_item {
        font-size: 10px;
        margin: 10px 10px;
    }
    .header_logo {
        display: none;
    }
    .nav li a {
        font-size: 10px;
    }
}