/* Intro */
.intro {
    margin: 0;
    width: 100%;
    height: 100vh;
    
    color: #fff;
    font-family: 'Oswald', sans-serif;
    
    background: url("../img/index.png") center no-repeat;
}

.index_inner {
    margin-top: 20%;
    margin-left: 12.5%;
    display: inline-block;
    align-items: center;
    align-content: center;
}

.text_inner {
    display: inline-block;
}
.name_index {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 10%;
}

.index_text {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10%;
    font-size: 18px;
    line-height: 1.5;
}

.index_inner a {
    margin-top: 10%;
}

.btn4 {
    margin: 0;
    text-align: center;  
    padding: 15px 20px;
    
    background-color: #348EDF;
    border: 3px solid #fff;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
}

.btn4:hover {
    border-color: #348EDF;
    background-color: #fff;
    color: #348EDF;
}

.products {
    margin-top: 80px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}