/* Intro */
.intro {
    margin-top: 120px;
    width: 100%;
    height: 100vh;
    
    font-family: 'Oswald', sans-serif;
}

.intro_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: 100vh;
}

@media (max-width: 576px) {
    .intro {
        margin-top: 15%;
        max-height: 400px;
    }

}
.input {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    max-width: 500px; 
}

.type-1 {
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    padding: 20px 30px;
    margin: 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #eee;
    transition: .3s border-color;
    
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

@media (max-width: 576px) {
    .input {
        max-width: 250px; 
    }
    .type-1 {
        margin: 0;
        margin-top: 7px;
        padding: 10px 15px;
        font-size: 16px;
    }
}

/* Button */
.btn {
    font-family: 'Oswald', sans-serif;
    text-align: center;  
    padding: 15px 25px;
    width: 240px;
    
    margin-top: 30px;
    border-radius: 38px;
    background-color: #005BC1;
    border:none;
    
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    background-color: #006AE1;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
    .btn {
        width: 150px;
        font-size: 18px;
        padding: 10px;
    }
}

.btn1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;  
    padding: 25px 40px;
    max-width: 400px;
    
    border-radius: 63px;
    background-color: #C4C4C4;
    border:none;
    
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

@media (max-width: 576px) {
    .btn1 {
        padding: 15px 25px;
        font-size: 18px;
    }
}

.btn1:hover {
    box-shadow: inset 0 0 20px #fff;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    color: #FFF;
}

.pass {
    margin-top: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.pass:hover {
    color: #348EDF;
    transition: opacity .2s linear;
}

.text_inner {
    font-size: 36px;
    font-weight: 500;
    margin: 30px;
    text-transform: uppercase;
}

@media (max-width: 576px) {
    .text_inner {
        font-size: 24px;
    }
    .pass {
        font-size: 14px;
    }
}

