.production {
    margin-top: 110px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}

.shop_inner {
    display: flex;
    align-items: center;

    padding-top: 20px;
}

.products_img {
    max-width: 450px;
    max-height: 450px;
}

@media (max-width: 576px) {
    .production {
        margin-top: 12%;
    }
    .products_img {
        max-width: 300px;
        width: 100%;
        height: auto;
    }
    .shop_inner {
        display: inline-block;
        text-align: center;
        margin: 0 auto;
    }
}
    
.single_shop {
    padding: 10px;
    display: inline-block;
    letter-spacing: 1.5px;
}

.names {
    text-decoration: none;
}

.effect_btn {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    transition: background .5s;
    border-radius: 20px;
}

.effect_btn:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.5);
}

.title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 35%; /* Отступ сверху */
    font-size: 30px;
    text-align: center;
    text-transform: uppercase; /* Заглавные буквы */
    color: #fff; /* Цвет заголовка */
    z-index: 1;
    transition: top .5s;
}

.effect_btn:hover .title {
    top: 25%; /* Отступ сверху при наведении */
    color: #80C3FF;
}

@media (max-width: 576px) {
    .title {
        font-size: 20px;
    }
}

.button {
    position: absolute;
    width: 100%;
    left:0;
    top: 55%;
    text-align: center;
    opacity: 0;
    transition: opacity .40s ease;
}

.button a {
    padding: 10px 30px; /* Отступ */
    text-align: center;
    background: #348EDF; /* Цвет кнопки */
    color: #fff; /* Цвет текста */
    z-index: 1; 
}

.button a:hover {
    background-color: #fff;
    color: #348EDF;
    transition: background .5s;
}

.effect_btn:hover .button {
  opacity: 1;
    
}

.but_text {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

@media (max-width: 576px) {
    .but_text {
        font-size: 20px;
    }
    
    
}
