.detail {
    margin-top: 110px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    background: #EDEDED;
    padding-bottom: 30px;
}

.detail_inner {
    margin-left: 10%;
    max-width: 1100px;
    padding: 30px;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.img_detail {
    max-width: 350px;
    max-height: 300px;
    margin-top: 9%;
    margin-left: 10%;
}

.description {
    display: inline-block;
    text-align: center;
    margin-right: 15%;
    padding-top: 30px;
}

.text_descriptions {
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.block_text {
    display: inline-block;
    margin-top: 40px;
    padding-bottom: 25px;
    border-bottom: 1px solid #000;
}

.text_description {
    margin-top: 20px;
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}

.title_detail {
    text-transform: uppercase;
}

.name_detail {
    font-size: 24px;
}

.text_detail {
    margin-left: 25px;
    font-size: 22px;
    font-weight: 300;
}

/* Ввод количества */
.number {
	position: relative;
	width: 100px;
}
.number input[type="number"] {
	display: block;
	height: 40px;
	line-height: 35px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	appearance: textfield;
}
.number input[type="number"]::-webkit-outer-spin-button,
.number input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
.number-minus {
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	width: 30px;
	padding-bottom: 3px;
	display: block;
	text-align: center;
	border: none;
	border-right: 1px solid #ddd;
	font-size: 16px;
	font-weight: 600;
}
.number-plus {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	width: 30px;
	padding: 0;
	display: block;
	text-align: center;
	border: none;
	border-left: 1px solid #ddd;
	font-size: 16px;
	font-weight: 600;
}
/* Ввод количества */

/* Галочка */
.text_box {
    font-size: 24px;
}

.box {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.box+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.box+label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 5px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.box:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.box:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}
/* Галочка */

.btn5 {
    margin-left: 39%;
    text-align: center;  
    padding: 17px 40px;
    
    border-radius: 38px;
    background-color: #005BC1;
    border:none;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.btn5:hover {
    background-color: #006AE1;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


