*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

body {
    margin: 0;
    font-size: 80%;
    line-height: 1;
}

.application {
    min-height: 20px;
    min-width: 20px;
    position: fixed;
    top: 77%;
    left: 80%;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid #005BC1;
    font-size: 30px;
    z-index: 99999999999;
    color: #005BC1;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
}

.intro_tag {
    display: flex;
    align-items: center;
    padding: 40px;
    margin-left: 20px;
    width: 80%;
}

.tags {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    
    margin-left: 30px;
}

@media (max-width: 576px) {
    .intro_tag {
        padding: 0;
    }
    .tags {
        font-size: 16px;
        margin-left: 10px;
    }
    .line {
        height: 11px;;
    }
    .application {
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    .application {
        opacity: 1;
    }
}

.container_header {
    width: 100%;
    max-width: 1650px;
    margin: 0 auto;
}

.container_intro {
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
}

.container_index {
    padding-top: 8%;
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.container_breadcrumbs {
    width: 100%;
    max-width: 1650px;
    width: 100%;
    margin: 0 auto;
}


.container_footer {
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
}
