.box_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 50px;
    height: 100vh;
}
.gal {
    text-decoration: none;
    margin: 10px 90px 20px 0;
}

.text_box {
    font-size: 28px;
}

@media (max-width: 576px) {
    .text_box {
        font-size: 14px;
    }
    .gal {
        margin-left: 15%;
    }
}

.btn2 {
    font-family: 'Oswald', sans-serif;
    text-align: center;  
    padding: 15px 10px;
    width: 300px;
    
    margin: 10px;
    border-radius: 38px;
    background-color: #005BC1;
    border:none;
    
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.btn2:hover {
    background-color: #006AE1;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.pos {
    margin-left: 220px;
}

.box {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.box+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.box+label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 5px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.box:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.box:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}

@media (max-width: 576px) {
    .box+label::before {
        width: 14px;
        height: 14px;
    }
    .pos {
        margin-left: 40%;
    }
    .btn2 {
        padding: 10px 5px;
        font-size: 16px;
        width: 200px;
    }
}
